
main{
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  text-align: center;
  border:2px solid black;
  box-shadow: 5px 5px;
  width: 50%;
  height: 300px;
  margin:auto;
  font-size: 20px;
}
input[type="text"]{
  width: 50%;
  margin-left: 25%;
  border-radius: 5px;
  outline: none;
}
#Div_top{
  font-size: 35px;
}
#Nombre1{
  margin-right: 5%;
}
#Nombre2{
  margin-left: 5%;
}
